* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.navbar {
  background-color: aliceblue;
}

/* Section */
section {
  margin: 10px;
}

h2 {
  margin-top: 56px;
  margin-bottom: 40px;
}

h3 {
  margin-top: 40px;
}

.table {
  width: 100%;
}



